In [ ]:
%pip install kagglehub

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ahmedwaelnasef/cars-dataset")
!mkdir data
!cp {path}/cars.csv data/cars.csv

In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv('data/cars.csv')
df.head()
df['seats'].value_counts()

seats
5 Seater     3471
4 Seater      847
7 Seater      532
2 Seater      428
8 Seater      211
             ...
14.0            1
13 Seater       1
230             1
220             1
2.8             1
Name: count, Length: 82, dtype: int64

In [ ]:
df[df['top_speed'] == 'Automatic']

In [ ]:
df[df['car name'] == 'Mercedes-Benz EQV 2021 6 seater']

In [4]:
# Replace non-numeric values in horse_power with NaN
df['horse_power'] = df['horse_power'].replace(r'^\D*$', np.nan, regex=True)
df.isna().sum()

car name             0
price                0
engine_capacity      0
cylinder           624
horse_power        122
top_speed            0
seats                0
brand                0
country              0
dtype: int64

In [6]:
df.dropna(subset=['horse_power'], inplace=True)
df.isna().sum()

car name             0
price                0
engine_capacity      0
cylinder           624
horse_power          0
top_speed            0
seats                0
brand                0
country              0
dtype: int64

In [14]:
mask = df['top_speed'].str.contains(r'^\D*$', regex=True)
df.drop(df[mask].index, inplace=True)
df.isna().sum()
df.reset_index(drop=True, inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6143 entries, 0 to 6142
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   car name         6143 non-null   object
 1   price            6143 non-null   object
 2   engine_capacity  6143 non-null   object
 3   cylinder         5519 non-null   object
 4   horse_power      6143 non-null   object
 5   top_speed        6143 non-null   object
 6   seats            6143 non-null   object
 7   brand            6143 non-null   object
 8   country          6143 non-null   object
dtypes: object(9)
memory usage: 432.1+ KB

In [19]:
df[df['cylinder'] == 'N/A, Electric']

,car name,price,engine_capacity,cylinder,horse_power,top_speed,seats,brand,country
45,Lotus Evija 2021 2000 kW (Type 130),TBD,0.0,"N/A, Electric",1973,320,2 Seater,lotus,ksa
105,Chevrolet Bolt EV 2021 LT FWD,TBD,0.0,"N/A, Electric",500,360,Automatic,chevrolet,ksa
160,Mercedes-Benz EQC 2021 400 4MATIC,TBD,0.0,"N/A, Electric",402,180,5 Seater,mercedes-benz,ksa
1375,Lotus Evija 2021 2000 kW (Type 130),"BHD 829,510",0.0,"N/A, Electric",1973,320,2 Seater,lotus,bahrain
2262,Lotus Evija 2021 2000 kW (Type 130),"QAR 8,010,200",0.0,"N/A, Electric",1973,320,2 Seater,lotus,qatar
4043,Lotus Evija 2021 2000 kW (Type 130),"KWD 668,580",0.0,"N/A, Electric",1973,320,2 Seater,lotus,kuwait
5007,Mercedes-Benz EQC 2021 400 4MATIC,TBD,0.0,"N/A, Electric",402,180,5 Seater,mercedes-benz,uae
5571,Chevrolet Bolt EV 2021 LT FWD,"AED 168,900",0.0,"N/A, Electric",500,360,Automatic,chevrolet,uae
5910,Tesla Model X 2021 90D,"AED 353,115",0.0,"N/A, Electric",489,966,Automatic,tesla,uae
5912,Tesla Model X 2021 75D,"AED 349,125",0.0,"N/A, Electric",329,7 Seater,6.2,tesla,uae
5950,Tesla Model X 2021 100D,"AED 417,900",0.0,"N/A, Electric",420,250,7 Seater,tesla,uae

In [20]:
string_columns = df.select_dtypes(include=['object']).columns
df[string_columns] = df[string_columns].apply(lambda x: x.str.strip())

In [21]:
df.shape[0] - df[df['price'].str.contains(r'\d', regex=True)].shape[0]

1230

In [22]:
dataframe_no_price = df[df['price'].str.contains(r'^\D*$', regex=True) == True]['price']
dataframe_no_price.unique()

array(['Orangeburst Metallic', 'Following', 'TBD', 'Clear White',
       'Birch Light Metallic', 'Walnut Brown/Billet Silver',
       'Fathom Blue Pearlcoat', 'Sapphire Blue Metallic',
       'Billet Silver/Walnut Brown', 'Guard, Stone Gray',
       'Smoked Quartz Metallic Tinted Clearcoat', 'DISCONTINUED',
       'Tasman Blue', 'Follow', 'Electric Blue/ Super Black',
       'Mosaic Black Metallic', 'Platinum White Pearl',
       'Gun Metallic/ Super Black', 'Chalk White',
       'Blue Streak Metallic W/Midnight Black Metallic Roof',
       'Black Cherry Metallic', 'Ocean Blue Pearl', 'Cajun Red Tintcoat',
       'Hellayella Clear Coat', 'Gun Metallic',
       'White Platinum Metallic Tri-Coat', 'Cayenne Red Metallic',
       'Obsidian Blue Pearl', 'In-Violet Clear Coat',
       'Crystal Black Silica', 'Carbonized Gray', 'Bellanova White Pearl',
       'Modern Steel Metallic', 'Sangria Metallic Clear Coat',
       'Magnetite Gray Metallic', 'Agate Black', 'Indigo Blue',
       'Iridescent Pearl Tricoat', 'Super Black', 'Satin Steel Metallic',
       'Granite Pearl Coat', 'Guard', 'Destroyer Gray Clear Coat',
       'Garnet Metallic', 'Oxford White', 'Glacier Silver Metallic',
       'Nero Ribelle Mica', 'Grigio Maratea', 'Lava Orange',
       'Black Obsidian', 'Dark Mocha Metallic', 'Carmine Red',
       'Guards Red', 'Mahogany Metallic', 'Jet Black', 'Electric Shadow',
       'Sonic Silver', 'Fresh Powder', 'Blue Emerald Metallic',
       'Silk Blue Metallic', 'Midnight Black Metallic W/Ice Edge Roof',
       'Atlas Blue', 'Flamenco Red Metallic', 'Moonlight Blue Metallic',
       'Race Red', 'Moonwalk Gray Metallic', 'Galactic Gray',
       'Sunset Orange', 'Iconic Silver', 'Crimson Red Pearl',
       'Fathom Blue Pearl', 'Share', 'Ruby Flare Pearl',
       'Machine Gray Metallic', 'Urano Gray Metallic', 'Pure White',
       'Maximum Steel/Walnut Brown', 'Majestic White',
       'Dravit Grey Metallic'], dtype=object)

In [ ]:
dataframe_no_price.nunique()

In [23]:
df.drop_duplicates(inplace=True)

In [ ]:
df.info()

In [ ]:
df['price'] = df['price'].astype(float)

In [ ]:
df.isna().sum()

In [24]:
# Extract currency and number
pattern = r'([A-Z]+)\s([\d,]+)'
extracted = df['price'].str.extract(pattern, expand=True)

# Rename columns for clarity
extracted.columns = ['currency', 'amount']

df = pd.concat([df, extracted], axis=1)
df.drop(columns='price', inplace=True)

df.rename(columns={'amount': 'price'}, inplace=True)

# # Handle non-matching rows (e.g., fill NaN with 'Unknown' for currency and 0 for amount)
# extracted['currency'].fillna('Unknown', inplace=True)
# extracted['amount'].fillna('0', inplace=True)

# print(extracted)
df.head()

,car name,engine_capacity,cylinder,horse_power,top_speed,seats,brand,country,currency,price
0,Peugeot Traveller 2021 L3 VIP,2.0,4,180,8 Seater,8.8,peugeot,ksa,SAR,"140,575"
1,Suzuki Jimny 2021 1.5L Automatic,1.5,4,102,145,4 Seater,suzuki,ksa,SAR,"98,785"
2,Ford Bronco 2021 2.3T Big Bend,2.3,4,420,4 Seater,7.5,ford,ksa,SAR,"198,000"
3,Honda HR-V 2021 1.8 i-VTEC LX,1.8,4,140,190,5 Seater,honda,ksa,NaN,NaN
4,Honda HR-V 2021 1.8 i-VTEC EX,1.8,4,140,190,5 Seater,honda,ksa,SAR,"95,335"

In [25]:
df['price'] = df['price'].str.replace(',', '').astype(float)

In [26]:


# Dictionary for mapping country to currency
country_to_currency = {
    'ksa': 'SAR',      # Saudi Riyal
    'egypt': 'EGP',    # Egyptian Pound
    'bahrain': 'BHD',  # Bahraini Dinar
    'qatar': 'QAR',    # Qatari Riyal
    'oman': 'OMR',     # Omani Rial
    'kuwait': 'KWD',   # Kuwaiti Dinar
    'uae': 'AED'       # United Arab Emirates Dirham
}

# Dictionary for mapping currency to USD exchange rate
currency_to_usd = {
    'SAR': 0.27,  # Saudi Riyal to USD
    'EGP': 0.032, # Egyptian Pound to USD
    'BHD': 2.65,  # Bahraini Dinar to USD
    'QAR': 0.27,  # Qatari Riyal to USD
    'OMR': 2.60,  # Omani Rial to USD
    'KWD': 3.30,  # Kuwaiti Dinar to USD
    'AED': 0.27   # United Arab Emirates Dirham to USD
}

# Map country to currency
df['currency'] = df['country'].map(country_to_currency)

df['price'] = df.apply(lambda row: row['price'] * currency_to_usd[row['currency']], axis=1)

# Compute the mean price for each country
mean_prices = df.groupby('car name')['price'].transform('mean')

# Replace only the missing values with the mean price of their respective groups
df['price'] = df['price'].fillna(mean_prices)


# Convert prices to USD
df.head()

,car name,engine_capacity,cylinder,horse_power,top_speed,seats,brand,country,currency,price
0,Peugeot Traveller 2021 L3 VIP,2.0,4,180,8 Seater,8.8,peugeot,ksa,SAR,37955.25
1,Suzuki Jimny 2021 1.5L Automatic,1.5,4,102,145,4 Seater,suzuki,ksa,SAR,26671.95
2,Ford Bronco 2021 2.3T Big Bend,2.3,4,420,4 Seater,7.5,ford,ksa,SAR,53460.00
3,Honda HR-V 2021 1.8 i-VTEC LX,1.8,4,140,190,5 Seater,honda,ksa,SAR,NaN
4,Honda HR-V 2021 1.8 i-VTEC EX,1.8,4,140,190,5 Seater,honda,ksa,SAR,25740.45

In [27]:
median_na = df.groupby('brand')['price'].transform('median')
df['price'] = df['price'].fillna(median_na)

In [ ]:
df.head()

In [28]:
df.dropna(subset=['price'], inplace=True)
df.isna().sum()

car name             0
engine_capacity      0
cylinder           624
horse_power          0
top_speed            0
seats                0
brand                0
country              0
currency             0
price                0
dtype: int64

In [29]:
df.drop(columns='currency', inplace=True)

In [30]:
df.reset_index(drop=True, inplace=True)

In [31]:
indices = df[df['top_speed'].str.contains('Seater')].index

temp = df.loc[indices, 'seats']
df.loc[indices, 'seats'] = df['top_speed']
df.loc[indices, 'top_speed'] = temp

In [32]:
df['top_speed'].str.contains('Seater').sum()

np.int64(0)

In [33]:
df.loc[indices].head(50)

,car name,engine_capacity,cylinder,horse_power,top_speed,seats,brand,country,price
0,Peugeot Traveller 2021 L3 VIP,2.0,4,180,8.8,8 Seater,peugeot,ksa,37955.250000
2,Ford Bronco 2021 2.3T Big Bend,2.3,4,420,7.5,4 Seater,ford,ksa,53460.000000
8,Ford Bronco 2021 2.7T Outer Banks,2.7,6,542,6.9,5 Seater,ford,ksa,64260.000000
14,Aston Martin DBS Superleggera 2021 5.2T V12,5.2,12,900,3.4,4 Seater,aston-martin,ksa,374344.740000
16,Genesis GV80 2021 3.5T Royal (AWD),3.5,6,530,5.5,7 Seater,genesis,ksa,82350.000000
18,Hyundai Palisade 2021 3.8L GDi (AWD) Premium -...,3.8,6,355,7.7,8 Seater,hyundai,ksa,54054.000000
24,Hyundai Palisade 2021 3.5L GDi (FWD),3.5,6,335,7.7,7 Seater,hyundai,ksa,38416.950000
64,Hyundai Santa Fe 2021 3.5L Mid (AWD),3.5,6,363,7.8,7 Seater,hyundai,ksa,35610.300000
66,Great Wall Wingle 7 2021 2.0T Double Cabin (4x4),2.0,4,315,15,5 Seater,great-wall,ksa,19553.130000
67,Hyundai Santa Fe 2021 3.5L High (AWD),3.5,6,363,7.8,7 Seater,hyundai,ksa,38580.300000
70,Hyundai Santa Fe 2021 2.4L GL Panorama (FWD),2.4,4,226,10.7,7 Seater,hyundai,ksa,28350.000000
71,Hyundai Santa Fe 2021 3.5L Base (AWD),3.5,6,363,7.8,7 Seater,hyundai,ksa,32937.300000
72,Great Wall Wingle 7 2021 2.0T Single Cabin (RWD),2.0,4,315,15,5 Seater,great-wall,ksa,17379.630000
73,Hyundai Santa Fe 2021 3.5L Limited (AWD),3.5,6,363,7.8,7 Seater,hyundai,ksa,43807.500000
74,Kia K900 2021 5.0L GDI V8,5.0,8,505,5.6,5 Seater,kia,ksa,83295.270000
76,Kia K900 2021 3.8L GDI V6,3.8,6,400,5.6,5 Seater,kia,ksa,57941.730000
80,Rolls Royce Cullinan 2021 6.75L Twin-Turbo (56...,6.7,12,850,6.7,5 Seater,rolls-royce,ksa,384345.000000
89,Chrysler Pacifica 2021 3.6L V6 Touring L,3.6,6,355,11,8 Seater,chrysler,ksa,45010.000000
96,Chrysler Pacifica 2021 3.6L V6 Touring L Plus,3.6,6,355,11,8 Seater,chrysler,ksa,45010.000000
122,Alfa Romeo Giulia 2021 Super,2.0,4,330,6.5,5 Seater,alfa-romeo,ksa,47499.750000
129,Lincoln Continental 2021 3.7L Premier,3.7,6,379,6.8,5 Seater,lincoln,ksa,56317.330000
130,McLaren 720S 2021 4.0T Coupe,4.0,8,770,2.9,2 Seater,mclaren,ksa,363433.500000
134,McLaren 570S Spider 2021 3.8T,3.8,8,600,3.2,2 Seater,mclaren,ksa,211900.000000
165,Maxus T60 2021 2.8D Double Cab (4x4),2.8,4,350,11.0,5 Seater,maxus,ksa,20196.000000
170,Hyundai Veloster N 2021 2.0L T-GDI (sport),2.0,4,275,5.2,5 Seater,hyundai,ksa,40230.000000
197,Lincoln Crosair 2021 2.0T Reserve,2.0,4,245,7.3,5 Seater,lincoln,ksa,52753.950000
198,Lincoln Crosair 2021 2.0T Base,2.0,4,245,7.3,5 Seater,lincoln,ksa,50890.950000
201,Great Wall Wingle 7 2021 2.0T Double Cabin (4x...,2.0,4,315,15,5 Seater,great-wall,ksa,20174.130000
202,Great Wall Wingle 7 2021 2.4T Double Cabin (4x...,2.4,4,220,15,5 Seater,great-wall,ksa,18311.130000
205,Great Wall Wingle 7 2021 2.4T Double Cabin (4x...,2.4,4,220,15,5 Seater,great-wall,ksa,18931.860000
217,Ford Bronco 2-door 2021 2.7T WildTrack,2.7,6,542,6.8,5 Seater,ford,ksa,65880.000000
218,Ford Bronco 2-door 2021 2.3T Big Bend,2.3,4,420,7.2,4 Seater,ford,ksa,48600.000000
220,Genesis GV80 2021 3.5T Platinium,3.5,6,530,5.5,7 Seater,genesis,ksa,82350.000000
221,Geely Tugella 2021 2.0T GF (4WD),2.0,4,238,6.9,5 Seater,geely,ksa,33358.500000
222,Geely Tugella 2021 2.0T GL (4WD),2.0,4,238,6.9,5 Seater,geely,ksa,30564.000000
224,Ford Bronco 2021 2.7T Big Lands,2.7,6,542,6.9,5 Seater,ford,ksa,70740.000000
226,Ford Bronco 2021 2.7T WildTrack,2.7,6,542,6.9,5 Seater,ford,ksa,71010.000000
257,Peugeot Partner 2021 1.6L K9 (Long),1.6,4,110,11.0,3 Seater,peugeot,ksa,17493.300000
361,Nissan Juke 2021 1.0T,1.0,3,180,11.1,5 Seater,nissan,ksa,28157.490000
428,SsangYong Korando 2021 1.5T GDI Comfort (FWD),1.5,4,163,10.0,5 Seater,ssang-yong,ksa,18900.000000
431,SsangYong Korando 2021 1.5T GDI Limited (AWD),1.5,4,163,10.0,5 Seater,ssang-yong,ksa,24300.000000
500,"Nissan Urvan 2021 MICROBUS 4 DOORS, 13 SEATER ...",2.5,4,213,17.0,14 Seater,nissan,ksa,27476.250000
504,"Nissan Urvan 2021 MICROBUS 4 DOORS, 13 SEATER ...",2.5,4,213,17.5,14 Seater,nissan,ksa,28878.875000
648,Ford Edge 2021 ST,2.7,NaN,335,6.0,5 Seater,ford,ksa,66825.000000
654,Lexus ES 2021 350 F-Sport,3.5,6,362,6.8,5 Seater,lexus,ksa,68589.450000
678,Lincoln MKC 2021 2.0T Select,2.0,4,253,7.3,5 Seater,lincoln,ksa,46775.000000
684,Lincoln MKC 2021 2.0T Premier,2.0,4,253,7.3,5 Seater,lincoln,ksa,35965.000000
705,Mercedes-Benz C-Class 2021 C 43 AMG 4MATIC,3.0,NaN,520,4.7,5 Seater,mercedes-benz,ksa,81297.540000
733,Mercedes-Benz V Class 2021 Standard,2.0,4,350,9.4,6 Seater,mercedes-benz,ksa,50311.000000
779,Mercedes-Benz V Class 2021 Avantgarde,2.0,4,350,9.4,6 Seater,mercedes-benz,ksa,58896.666667

In [34]:
# Columns to process
columns = ['seats', 'engine_capacity', 'brand', 'top_speed', 'cylinder', 'horse_power']

# Function to get the mode (most frequent value)
def get_mode(series):
    mode = series.mode()
    return mode[0] if not mode.empty else None

df[columns] = df.groupby('car name')[columns].transform(get_mode)

In [39]:
df['top_speed'] = df['top_speed'].astype(float)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6125 entries, 0 to 6124
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   car name         6125 non-null   object
 1   engine_capacity  6125 non-null   object
 2   cylinder         5501 non-null   object
 3   horse_power      6125 non-null   object
 4   top_speed        6125 non-null   float64
 5   seats            6125 non-null   object
 6   brand            6125 non-null   object
 7   country          6125 non-null   object
 8   price            6125 non-null   float64
dtypes: float64(2), object(7)
memory usage: 430.8+ KB

In [37]:
df.isna().sum()

car name             0
engine_capacity      0
cylinder           624
horse_power          0
top_speed            0
seats                0
brand                0
country              0
price                0
dtype: int64

In [53]:
df['seats'].value_counts()

seats
5 Seater     3579
4 Seater      877
7 Seater      535
2 Seater      455
8 Seater      240
6 Seater      116
N A           102
3 Seater       88
9 Seater       85
14 Seater      16
Automatic      10
15 Seater       9
12 Seater       8
18 Seater       4
13 Seater       1
Name: count, dtype: int64

will do median imputation based on brand, but first, we have to convert `seats` to an int

In [62]:
mask = df['seats'].str.contains(r'^\D*$')
df[mask].head(5)

,car name,engine_capacity,cylinder,horse_power,top_speed,seats,brand,country,price
5,Peugeot Expert 2021 Van L3 A/T,2.0,4,120,170.0,N A,peugeot,ksa,22368.15
6,Peugeot Expert 2021 Van L3 M/T,2.0,4,120,170.0,N A,peugeot,ksa,20667.15
35,Mercedes-Benz GLB 2021 250 4MATIC,0.0,4,224,236.0,N A,mercedes-benz,ksa,79852.23
37,Volkswagen Passat 2021 2.5L Highline,2.5,4,170,190.0,N A,volkswagen,ksa,32585.00
38,Land Rover Range Rover Evoque 2021 2.0T R-Dyna...,2.0,4,200,216.0,N A,land-rover,ksa,74364.75

Convert all values in seats that have no number to `NA`

In [ ]:
df['seats'] = df['seats'].replace(r'^\D*$', np.nan, regex=True)
df.isna().sum()

car name             0
engine_capacity      0
cylinder           624
horse_power          0
top_speed            0
seats              112
brand                0
country              0
price                0
dtype: int64

In [65]:
df.head()

,car name,engine_capacity,cylinder,horse_power,top_speed,seats,brand,country,price
0,Peugeot Traveller 2021 L3 VIP,2.0,4,180,8.8,8 Seater,peugeot,ksa,37955.250
1,Suzuki Jimny 2021 1.5L Automatic,1.5,4,102,145.0,4 Seater,suzuki,ksa,26671.950
2,Ford Bronco 2021 2.3T Big Bend,2.3,4,420,7.5,4 Seater,ford,ksa,53460.000
3,Honda HR-V 2021 1.8 i-VTEC LX,1.8,4,140,190.0,5 Seater,honda,ksa,28179.975
4,Honda HR-V 2021 1.8 i-VTEC EX,1.8,4,140,190.0,5 Seater,honda,ksa,25740.450

In [61]:
df[df['brand']=='peugeot']

,car name,engine_capacity,cylinder,horse_power,top_speed,seats,brand,country,price
0,Peugeot Traveller 2021 L3 VIP,2.0,4,180,8.8,8 Seater,peugeot,ksa,37955.25
5,Peugeot Expert 2021 Van L3 A/T,2.0,4,120,170.0,N A,peugeot,ksa,22368.15
6,Peugeot Expert 2021 Van L3 M/T,2.0,4,120,170.0,N A,peugeot,ksa,20667.15
110,Peugeot 508 2021 1.6T GT Line,1.6,4,165,220.0,5 Seater,peugeot,ksa,35100.00
208,Peugeot 2008 2021 1.6L (115HP) Active+,1.6,4,115,200.0,5 Seater,peugeot,ksa,18630.00
...,...,...,...,...,...,...,...,...,...
5358,Peugeot 508 2021 1.6T Active+,1.6,4,180,230.0,5 Seater,peugeot,uae,25623.00
5442,Peugeot 3008 2021 1.6T GT,1.6,4,181,222.0,5 Seater,peugeot,uae,37773.00
5456,Peugeot Traveller 2021 L3 VIP,2.0,4,180,8.8,8 Seater,peugeot,uae,37773.00
5460,Peugeot 5008 2021 1.6T GT Line,1.6,4,180,219.0,7 Seater,peugeot,uae,37773.00
5474,Peugeot 508 2021 1.6T GT,1.6,4,225,220.0,5 Seater,peugeot,uae,37773.00

In [73]:
# Function to extract the number from 'seats' values that contain the string 'Seats'
def extract_seats(value):
    if pd.isna(value):
        return value
    if type(value) == float:
        return int(value)
    if 'Seater' in value or 'Seats' in value:
        return int(value.split()[0])

# Apply the function to the 'seats' column
df['seats'] = df['seats'].apply(extract_seats)

In [77]:
median = df.groupby('brand')['seats'].transform('median')
df['seats'] = df['seats'].fillna(median)
df.isna().sum()

car name             0
engine_capacity      0
cylinder           624
horse_power          0
top_speed            0
seats                9
brand                0
country              0
price                0
dtype: int64

In [79]:
df.dropna(subset=['seats'], inplace=True)
df.isna().sum()

car name             0
engine_capacity      0
cylinder           624
horse_power          0
top_speed            0
seats                0
brand                0
country              0
price                0
dtype: int64

In [81]:
df['seats'] = df['seats'].astype(int)
df.head()

,car name,engine_capacity,cylinder,horse_power,top_speed,seats,brand,country,price
0,Peugeot Traveller 2021 L3 VIP,2.0,4,180,8.8,8,peugeot,ksa,37955.250
1,Suzuki Jimny 2021 1.5L Automatic,1.5,4,102,145.0,4,suzuki,ksa,26671.950
2,Ford Bronco 2021 2.3T Big Bend,2.3,4,420,7.5,4,ford,ksa,53460.000
3,Honda HR-V 2021 1.8 i-VTEC LX,1.8,4,140,190.0,5,honda,ksa,28179.975
4,Honda HR-V 2021 1.8 i-VTEC EX,1.8,4,140,190.0,5,honda,ksa,25740.450

In [ ]:
df['car name'].value_counts()

In [ ]:
df[df['car name'] == 'BMW 5 Series 2021 520i']

In [ ]:
df[df['car name'] == 'BMW 5 Series 2021 520i']

In [ ]:
df['price']

In [ ]:
df[df['car name'].duplicated()]

In [ ]:
df['country'].unique()

In [ ]:
df[df['car name'] == 'Aston Martin DBS Superleggera 2021 5.2T V12']

In [ ]:
df['car name'].nunique()

In [ ]:
df['country'].nunique()

In [ ]:
df.loc[indices]

In [ ]:
df[df['car name'] == 'Fiat 500e 2021 La Prima']

In [ ]:
df[df['car name'] == 'Peugeot Traveller 2021 L3 VIP']

In [ ]:
df['seats'].head()

In [ ]:
df['seats'] = df['seats'].apply(lambda x: re.findall(r'\d+', x)[0] if type(x) == str else x)

In [ ]:
df.info()

In [ ]:
df.head(5)

In [ ]:
# mask = df['top_speed'].str.contains('Seater', case=False)
# df.drop(df[mask].index, inplace=True)
# df.reset_index(drop=True, inplace=True)

In [ ]:
df['seats'] = df['seats'].apply(lambda x: x if 'seater' not in x.lower() else x[0])

In [ ]:
# Check if 'seats' column contains no numbers
mask = df['seats'].str.contains(r'^\D+$', regex=True)

mask.sum()
# df[mask==True]

In [ ]:
df['seats'].replace('N A', np.nan, inplace=True)

In [ ]:
df[mask]

In [ ]:
df.drop(df[mask==True].index, inplace=True)
df.reset_index(drop=True, inplace=True)
df

In [ ]:
df['seats'].isna().sum()

In [ ]:
df.isna().sum()

In [ ]:
index = df['cylinder'].str.contains('Electric', case=False).index
df.loc[index, 'cylinder'] = 0

In [ ]:
df.head(5)

In [ ]:
df['cylinder'].value_counts()

In [ ]:
df['country'].value_counts()

In [ ]:
df['brand'].value_counts()

In [ ]:
# df['cylinder'] = df['cylinder'].replace('N/A, Electric', pd.NA)
# df.isna().sum()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df['price'].value_counts()

In [ ]:
df['top_speed'].value_counts()
df['seats'].value_counts()

In [ ]:
 

df['seats'] = df['seats'].str.extract('(\d+)')

df['seats'].value_counts()