In [458]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [459]:
df = pd.read_csv('data/cleaned_cars.csv')
df.head()

,car name,engine_capacity,cylinder,horse_power,top_speed,seats,brand,country,price
0,Peugeot Traveller 2021 L3 VIP,2.0,4,180,205.0,8,peugeot,ksa,37955.250
1,Suzuki Jimny 2021 1.5L Automatic,1.5,4,102,145.0,4,suzuki,ksa,26671.950
2,Ford Bronco 2021 2.3T Big Bend,2.3,4,420,173.0,4,ford,ksa,53460.000
3,Honda HR-V 2021 1.8 i-VTEC LX,1.8,4,140,190.0,5,honda,ksa,28179.975
4,Honda HR-V 2021 1.8 i-VTEC EX,1.8,4,140,190.0,5,honda,ksa,25740.450

In [462]:
# Split the dataset into training (60%) and temporary (40%) sets with a fixed random_state
train_df, temp_df = train_test_split(df, test_size=0.4, random_state=42)

# Split the temporary set into validation (50% of temporary, i.e., 20% of total) and test (50% of temporary, i.e., 20% of total) sets with the same random_state
val_df, test_df = train_test_split(temp_df, test_size=0.5, random_state=42)

# Print the sizes of the resulting datasets
print(f"Training set size: {len(train_df)}")
print(f"Validation set size: {len(val_df)}")
print(f"Test set size: {len(test_df)}")

# Optionally, print the datasets
print("\nTraining Set:")
train_df.head()

Training set size: 3669
Validation set size: 1223
Test set size: 1224

Training Set:

,car name,engine_capacity,cylinder,horse_power,top_speed,seats,brand,country,price
1123,Volkswagen Passat 2021 2.5L R-Line,2.5,4,170,190.0,5,volkswagen,egypt,20160.0
2886,BMW X4 2021 xDrive 20i,2.0,4,184,215.0,5,bmw,qatar,72900.0
3077,Land Rover Range Rover Sport 2021 5.0L V8 SVR ...,5.0,8,575,280.0,5,land-rover,qatar,150552.0
3007,Lexus LC 500 2021 5.0L V8 Platinum,5.0,8,471,270.0,4,lexus,qatar,108000.0
2955,Toyota Land Cruiser 2021 5.7L VXR,5.7,8,362,220.0,8,toyota,qatar,87750.0

In [463]:
print("\nValidation Set:")
val_df.head()

Validation Set:

,car name,engine_capacity,cylinder,horse_power,top_speed,seats,brand,country,price
4224,Toyota Camry 2021 3.5L LTD (298 HP),3.5,6,298,235.0,5,toyota,kuwait,23430.00
4776,Lexus LX 2021 570 Premier,5.7,8,362,220.0,8,lexus,kuwait,95700.00
2598,Mini Hatch 2021 5-Door Cooper S,2.0,4,192,235.0,5,mini,qatar,41850.00
1691,Audi A3 Sportback 2021 S3 (286 HP) quattro,2.0,4,286,250.0,5,audi,bahrain,41340.00
411,Toyota Hilux 2021 2.7L S GLX Double Cab M/T (4x4),2.7,4,164,165.0,5,toyota,ksa,35179.65

In [461]:
print("\nTest Set:")
test_df.head()

Test Set:

,car name,engine_capacity,cylinder,horse_power,top_speed,seats,brand,country,price
461,Toyota Hilux 2021 2.8L S GLX Double Cab DLS (4x4),2.8,4,174,175.0,5,toyota,ksa,41265.45
5781,Toyota Land Cruiser 2021 5.7L EXR,5.7,8,362,220.0,8,toyota,uae,70173.00
724,Land Rover Defender 2021 110 X (P400),3.0,6,400,208.0,5,land-rover,ksa,123299.55
1189,Suzuki Vitara 2021 1.6L GLX 2WD,1.6,4,115,180.0,5,suzuki,egypt,11520.00
4669,Mercedes-Benz E-Class Coupe 2021 E 320,3.0,6,400,250.0,4,mercedes-benz,kuwait,66000.00